<figure class="card">
    <div class="card__emoji">{%IMAGE%}</div>

    <div class="card-title-box">
        <h2 class="card-title">{%PRODUCTNAME%}</h2>
    </div>

    <div class="card__details">
        <div class="card__detail-box {%NOT_ORGANIC%}">
            <h6 class="card__detail card__detail--organic">Organic!</h6>
        </div>

        <div class="card__detail-box">
            <h6 class="card__detail ">{%QUANTITY%} в 📦</h6>
        </div>

        <div class="card__detail-box">
            <h6 class="card__detail card__detail--price">{%PRICE%} ₸</h6>

        </div>
        <a href="/product?id={%ID%}" class="card__link">
            <span>Подробнее <i class="emogi-right"> 👉</i></span>
        </a>
    </div>


</figure>